@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro&display=swap');

/* hides the password eye icon in IE Edge and IE10 */
::-ms-reveal {
    display: none !important;
}

body {
    background-color: rgb(240, 253, 244);
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Source Code Pro', monospace; */
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #a8dadc;
    text-shadow: 2px 2px 2px black;
}

.swiper-pagination-progressbar
.swiper-pagination-progressbar-fill  {
    background-color: #a8dadc !important;
}